<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div id="divImg">
      <img src="assets/img/marchi.png" alt="lol" class="img">
    </div>
    <h1 id="migliori">Abbiamo i prodotti delle migliori marche!</h1>
    <div class="sotto">
      <h1>Benvenuto nel nostro negozio {{getNome()}}</h1>
      <p>Qui puoi trovare i migliori articoli per ragazzi/e in circolazione</p>
      <p>Seleziona la categoria che ti interessa in alto</p>
    </div>
  </div>

</body>
</html>
